/* -------------------------------------
~> Name Temp     : League-Scoure-api
~> Version	     : V 1.0.2
~> Last Updated  : 10-08-2022 : 12:34 AM
~> Dev By     	 : Sting Dev  - Facebook Page ->  https://www.facebook.com/stingweb.eg
~> Desgin URL    : sting-web.blogspot.com
*/
/*================= Start Css - Sting Web ===================*/


:root {
    --BG: #0066cc;
    --BT: #eceef2;
    --BTR: #d8dbe1;
    --BG1: #e8e8e8 none no-repeat fixed center center;
    --BG2: #fff;
    --BG3: #fff;
    --ST1: #000;
    --ST2: #3e3e3e;
    --STH: #474747;
    --ST3: #104783;
    --ST4: #68581d;
    --ST5: #eceef2;
    --ST7: #fff;
    --ST8: #3e3e3e;
    --CO: #333;
    --BR: #eee;
    --BP: #c1c4cb;
    --GD: #eceef2;
    --BL: #e8e8e8;
    --BFO: #fff;
    --BGS: #0066cc;
    --ST90: #d8dbe1;
}

:root body.Dark {
    --BG: #1c2733;
    --BT: #1c2733;
    --BG1: #1c2733;
    --BTR: #374656;
    --BG2: #263545;
    --BG3: #121a23;
    --CO: #fff;
    --BR: #252f3a;
    --BP: #1c2733;
    --ST1: #fff;
    --ST2: #121a23;
    --STH: #263545;
    --ST3: #263545;
    --ST4: #263545;
    --ST5: #121a23;
    --ST7: #fff;
    --ST8: #121a23;
    --GD: #121a23;
    --BFO: #263545;
    --BL: #121a23;
    --BGS: #121a23
}

@font-face {
    font-family: 'Neo Sans Arabic';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Neo Sans Arabic'), url('https://cdn.statically.io/gh/yallashoot808/yalla-shoot-new/6a47ce1e/NeoSansArabic.woff') format('woff')
}

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style: none;
    font-family: 'Neo Sans Arabic'
}


td.team.team_logo img {
    width: 30px;
    height: 30px
}

body.singleItem .post-body {
    padding: 0;
    line-height: 2
}

.standings_asfar,
.tab {
    overflow: hidden
}

table thead tr {
    background: var(--ST90);
}

table tbody .odd {
    background: var(--BP);
}

p.League {
    width: 100%;
    margin: 0 auto
}

tr#o_2,
tr#o_4,
tr#o_6,
tr#o_8,
tr#o_10,
tr#o_12,
tr#o_14,
tr#o_16,
tr#o_18,
tr#o_20 {
    background: var(--ST90);
}

.PostTop,
.labels,
.post-share,
span.last_update {
    display: none !important
}

.d-md-none,
td.diff,
td.goal-plus-minus,
th.diff,
th.goal-plus-minus {
    display: none
}

div#ift_fram {
    border: 1px solid var(--BP);
    border-radius: 5px;
    width: 100%
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse
}

tbody td {
    padding: 10px 4px
}

.table-bordered td,
table th {
    color: var(--ST1) !important;
    padding: 12px;
    line-height: 25px
}

table thead tr {
    color: #000
}

.standings_asfar td.team {
    text-align: right
}

div#postsacs img {
    display: initial !important
}

@media screen and (max-width:700px) {

    tbody,
    thead {
        font-size: 12px
    }

    .d-md-none {
        display: block
    }

    span.d-none.d-md-block {
        display: none
    }

    tbody td {
        padding: 5px 1px
    }
}

.tab {
    border: 1px solid var(--BP);
    background-color: var(--BP);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    padding: 8px;
    border-radius: 10px 10px 0 0
}

.tab button {
    background: #5c2d91 ;
    color: #fff !important;
}

.tab button {
    color: var(--ST1);
    float: left;
    border: none;
    outline: 0;
    cursor: pointer;
    padding: 4px;
    transition: .3s;
    font-size: 15px;
    border-radius: 6px
}

.tab button.active {
    background-color: #931800;
    color: #fff
}

.tabcontent {
    display: none;
    border: 1px solid var(--BP);
    border-top: none;
    border-radius: 0 0 10px 10px
}

div#Rank1,
div#Rank2 {
    padding: 12px
}

@media screen and (max-width:720px) {
    .tab button {
        font-size: 13px
    }
}

@media screen and (max-width:720px) {
    .cover img {
        width: 65px;
    }

    .rank.cell.col-1.p-0.my-auto {
        font-size: 17px;
    }

    .name.cell.col-6.p-0.my-auto {
        font-size: 11px;
    }

    .team.badge {
        background: none !important;
    }

    .goals_count.cell.col-2.p-0.my-auto span {
        position: relative;
        left: 17px;
    }

    .cover img {
        width: 85px;
    }

}

.iftfrm.scorers_ift.container.mb-4 {
    font-size: 13px;
}

.row.trow.py-3 {
    display: flex;
    background-color: #d8dbe1;
    font-size: 15px;
    height: 60px;
    align-items: center;
    place-content: space-around;

}

.row.trow.py-3 {
    border-radius: 8px 8px 0 0;
}

.row.brow.even.py-2 {
    display: grid;
    background-color: var(--ST90);
    width: 100%;
    height: 120px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    gap: 15px;
}

.team.cell.col-9 {
    width: 40%;
    text-align: center;
}

.goals_count.cell.col-2.p-0 {
    width: 40%;
    text-align: center;
}

.row.brow.odd.py-2 {
    display: flex;
    background-color: #c1c4cb;
}

.row.brow.odd.py-2 {
    display: grid;
    background-color: var(--BP);
    width: 100%;
    height: 120px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    gap: 15px;
}

.rank.cell.col-1.p-0.my-auto {
    width: 5%;
    align-self: center;
    font-weight: 800;
    font-size: 20px;
}

.cover img {
    width: 90px;
}

.team.badge {
    background: #fff;
    padding: 2px 6px;
    border-radius: 8px;
    align-items: center;
    display: flex;
    margin-top: 6px;
    font-size: 12px;
}

.team.badge img {
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

.name.cell.col-6.p-0.my-auto {
    margin-top: 6px;
}

.goals_count.cell.col-2.p-0.my-auto {
    width: 22%;
    align-self: center;
}

.goals_count.cell.col-2.p-0.my-auto span {
    font-weight: 800;
    font-size: 22px;
    background: #000;
    padding: 5px 15px;
    color: #fff;
    border-radius: 50px;
}

.rank.cell.col-1.p-0.my-auto {
    text-align: center;
}

.name.cell.col-6.p-0.my-auto {
    text-align: center;
    margin-top: 15px;
}

.team.badge {
    justify-content: center;
}
